/* General Styles */
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 20px;
    font-size: 36px;
}

/* Carousel Styles */
.carousel-container {
    position: relative;
    width: 80%;
    margin: 40px auto;
    overflow: hidden;
    padding: 0 50px; /* Padding on the left and right sides to avoid extreme edges */
}

.carousel {
    display: flex;
    flex-direction: row;
    animation: scroll-left 40s linear infinite; /* Slow down scrolling to 20 seconds */
}

.carousel img {
    width: 500px;
    height: 600px;
    object-fit: cover; /* Ensures the image covers the area properly without distortion */
    margin: 0 20px; /* Add some space on the sides */
    transition: transform 0.3s ease; /* Smooth hover effect */
    border-radius: 20px;
}


/* Hover Effect - On hover image pops out */
.carousel img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

/* Footer */
footer {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: gray;
}


.logo {
    position: absolute;
    top: 10px;
    right: 10px;
}

.logo img {
    width: 50px; /* Adjust the size of the logo */
    height: auto;
}

/* Scrolling Animation */
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
